.container {
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 79.5vh;
}
aside {
    background-color: rgba(238, 241, 250);
    padding: 15px 20px 0 100px;
}
aside li{
    list-style: none;
    text-transform: uppercase;
    color: rgba(81, 93, 125);
    margin-bottom: 12px;
}
.intro {
    width: 70%;
    margin: 0 auto;
    padding: 15px 20px 0 10px;
}
.intro__contenido {
    width: 60%;
}
